@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="jumbotron">
        <h1 class="display-4">Mobile Top Ups</h1>
        <p class="lead">Easy Top up of your prepaid account</p>
        <hr class="my-4">
      
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-page="/TopUps/Index" role="button">View Top Ups</a>
        </p>
    </div>
